[build]
  base = "frontend"
  command = "npm run build"
  publish = "frontend/dist"

[build.environment]
  TAILWIND_DISABLE_LIGHTNINGCSS = "1"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
